html {
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
}

body {
	width: 800px;
	margin: 0 auto;
	padding: 0;
}

h1,h2,h3,h4,h5,h6 {
	margin-bottom: 0.5em;
}

p {
	margin: 1em 0;
}

a {
	color: #00a;
}

a:hover {
	color: #000;
}

a:visited {
	color: #a0a;
}

.highlighttable {
	border: 1px solid #AAA;
	border-radius: 4px;
	width: 100%;
	box-sizing: border-box;
}

.highlighttable, .highlight {
	background-color: #EEE;
}

.highlight>pre {
	margin: 0.5em 0.25em;
	overflow-x: auto;
}

header {
	width: 100%;
	background-color: #EEE;
	border-radius: 0 0 10px 10px;
	padding: 1em 0.5em 0 0.5em;
}

header>h1 {
	margin-top: 0;
}

.links {
	margin: 0;
	padding: 0;
}
.links>li {
	display: inline-block;
	border: 1px solid #AAA;
	background-color: #444;
	padding: 0.5em 0.25em;
	margin-right: 0.25em;
	border-radius: 10px 10px 0 0;
	font-weight: bold;
}

.links>li>a {
	color: white;
	text-decoration: none;
}
