html {
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
}

body {
	width: 800px;
	margin: 0 auto;
	padding: 0;
}

h1,h2,h3,h4,h5,h6 {
	margin-bottom: 1em;
}

p {
	margin: 1em 0;
}

a {
	color: #00a;
}

a:hover {
	color: #000;
}

a:visited {
	color: #a0a;
}

.highlighttable {
	border: 1px solid #AAA;
	border-radius: 4px;
}

.highlighttable, .highlight {
	background-color: #EEE;
}

.highlight>pre {
	margin: 0.5em 0.25em;
	overflow-x: auto;
}