html {
	margin: 0;
	padding: 0;
}

html,body {
	height: 100%;
}

body {
	width: 800px;
	margin: 0 auto;
	padding: 0;
}

h1,h2,h3,h4,h5,h6 {
	margin-bottom: 1em;
}

p {
	margin: 1em 0;
}

a {
	color: #00a;
}

a:hover {
	color: #000;
}

a:visited {
	color: #a0a;
}